org.whole.test/test/org/whole/lang/xsd/mapping/samples/notations.xsd

<xs:schema targetNamespace="http://e.org" xmlns:e="http://e.org"
            xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:notation name="jpeg" public="image/jpeg" system="jpeg.exe"/>
<xs:notation name="png" public="image/png" system="png.exe"/>
<xs:simpleType name="pictureType">
    <xs:restriction base="xs:NOTATION">
        <xs:enumeration value="e:jpeg"/>
        <xs:enumeration value="e:png"/>
    </xs:restriction>
</xs:simpleType>
<xs:complexType name="Picture">
    <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
            <xs:attribute name="format" type="e:pictureType"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>
</xs:schema>
