org.whole.test/test/org/whole/lang/xsd/mapping/samples/SepaSct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- STEP2 SCT Schema, Settled Credit File, January  28th 2008 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sw8="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.01" xmlns:sw4="urn:iso:std:iso:20022:tech:xsd:pacs.004.001.01" xmlns:S2SCTScf="urn:S2SCTScf:xsd:$SCTScfBlkCredTrf" targetNamespace="urn:S2SCTScf:xsd:$SCTScfBlkCredTrf" elementFormDefault="qualified">
	<!--Schema version 1.0 - Generated by SIA on 2006 Sep 25 02:16:07-->
	<xs:import namespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.01" schemaLocation="pacs8.xsd"/>
	<xs:import namespace="urn:iso:std:iso:20022:tech:xsd:pacs.004.001.01" schemaLocation="pacs4.xsd"/>
	<xs:element name="SCTScfBlkCredTrf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SndgInst" type="sw8:BICIdentifier"/>
				<xs:element name="RcvgInst" type="sw8:BICIdentifier"/>
				<xs:element name="SrvcId" type="S2SCTScf:SrvcID"/>
				<xs:element name="TstCode" type="S2SCTScf:TestCodeType"/>
				<xs:element name="FType" type="S2SCTScf:FTpType"/>
				<xs:element name="FileRef" type="sw8:Max16Text"/>
				<xs:element name="RoutingInd" type="S2SCTScf:RoutingInd"/>
				<xs:element name="FileBusDt" type="sw8:ISODate"/>
				<xs:element name="FileCycleNo" type="S2SCTScf:Max2NumericText"/>
				<xs:element name="pacs.008.001.01" type="sw8:pacs.008.001.01" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="pacs.004.001.01" type="sw4:pacs.004.001.01" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max32Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoutingInd">
		<xs:restriction base="xs:string">
			<xs:length value="3" fixed="true"/>
			<xs:enumeration value="DIR"/>
			<xs:enumeration value="IND"/>
			<xs:enumeration value="RET"/>
			<xs:enumeration value="ALL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FTpType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TestCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcID">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max8NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
