org.whole.test/test/org/whole/lang/xsd/templates/pacs.002.001.02S2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.02S2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.02S2" elementFormDefault="qualified">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier"/>
                <xs:element name="BBAN" type="BBANIdentifier"/>
                <xs:element name="UPIC" type="UPICIdentifier"/>
                <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTAccountIdentification3Choice">
        <xs:sequence>
            <xs:element name="IBAN" type="IBANIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="S2SCTAmendmentInformationDetails1">
        <xs:sequence>
            <xs:element name="OrgnlMndtId" minOccurs="0" type="Max35Text"/>
            <xs:element name="OrgnlCdtrSchmeId" minOccurs="0" type="S2SCTCdtrSchmeId"/>
            <xs:element name="OrgnlDbtr" minOccurs="0" type="S2SCTId2"/>
            <xs:element name="OrgnlDbtrAcct" minOccurs="0" type="S2SCTCashAccount7"/>
            <xs:element name="OrgnlDbtrAgt" minOccurs="0" type="S2SCTOrgnlDbtrAgt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="InstdAmt" type="S2SCTCurrencyAndAmount"/>
                <xs:element name="EqvtAmt" type="EquivalentAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="S2SCTOrgnlDbtrAgt">
        <xs:sequence>
            <xs:element name="FinInstnId" type="S2SCTFinancialInstitutionIdentification5Choice"/>
            <xs:element name="BrnchId" minOccurs="0" type="S2SCTBranchData"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification3">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification5Choice"/>
            <xs:element name="BrnchId" minOccurs="0" type="BranchData"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTBranchAndFinancialInstitutionIdentification3">
        <xs:sequence>
            <xs:element name="FinInstnId" type="S2SCTFinancialInstitutionIdentification5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTBranchData">
        <xs:sequence>
            <xs:element name="Id" minOccurs="0" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData">
        <xs:sequence>
            <xs:element name="Id" minOccurs="0" type="Max35Text"/>
            <xs:element name="Nm" minOccurs="0" type="Max35Text"/>
            <xs:element name="PstlAdr" minOccurs="0" type="S2SCTPostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount7">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification3Choice"/>
            <xs:element name="Tp" minOccurs="0" type="CashAccountType2"/>
            <xs:element name="Ccy" minOccurs="0" type="S2SCTCurrencyCode"/>
            <xs:element name="Nm" minOccurs="0" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTCashAccount7">
        <xs:sequence>
            <xs:element name="Id" type="S2SCTAccountIdentification3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CashAccountType4Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashAccountType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="TAXE"/>
            <xs:enumeration value="CISH"/>
            <xs:enumeration value="TRAS"/>
            <xs:enumeration value="SACC"/>
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="SVGS"/>
            <xs:enumeration value="ONDP"/>
            <xs:enumeration value="MGLD"/>
            <xs:enumeration value="NREX"/>
            <xs:enumeration value="MOMA"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SLRY"/>
            <xs:enumeration value="ODFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashClearingSystem3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABE"/>
            <xs:enumeration value="ART"/>
            <xs:enumeration value="AVP"/>
            <xs:enumeration value="AZM"/>
            <xs:enumeration value="BAP"/>
            <xs:enumeration value="BEL"/>
            <xs:enumeration value="BOF"/>
            <xs:enumeration value="BRL"/>
            <xs:enumeration value="CAD"/>
            <xs:enumeration value="CAM"/>
            <xs:enumeration value="CBJ"/>
            <xs:enumeration value="CHP"/>
            <xs:enumeration value="DKC"/>
            <xs:enumeration value="RTP"/>
            <xs:enumeration value="EBA"/>
            <xs:enumeration value="ELS"/>
            <xs:enumeration value="ERP"/>
            <xs:enumeration value="XCT"/>
            <xs:enumeration value="HRK"/>
            <xs:enumeration value="HRM"/>
            <xs:enumeration value="HUF"/>
            <xs:enumeration value="LGS"/>
            <xs:enumeration value="LVL"/>
            <xs:enumeration value="MUP"/>
            <xs:enumeration value="NOC"/>
            <xs:enumeration value="PCH"/>
            <xs:enumeration value="PDS"/>
            <xs:enumeration value="PEG"/>
            <xs:enumeration value="PNS"/>
            <xs:enumeration value="PVE"/>
            <xs:enumeration value="SEC"/>
            <xs:enumeration value="SIT"/>
            <xs:enumeration value="SLB"/>
            <xs:enumeration value="SPG"/>
            <xs:enumeration value="SSK"/>
            <xs:enumeration value="TBF"/>
            <xs:enumeration value="TGT"/>
            <xs:enumeration value="TOP"/>
            <xs:enumeration value="FDW"/>
            <xs:enumeration value="BOJ"/>
            <xs:enumeration value="FEY"/>
            <xs:enumeration value="ZEN"/>
            <xs:enumeration value="DDK"/>
            <xs:enumeration value="AIP"/>
            <xs:enumeration value="BCC"/>
            <xs:enumeration value="BDS"/>
            <xs:enumeration value="BGN"/>
            <xs:enumeration value="BHS"/>
            <xs:enumeration value="BIS"/>
            <xs:enumeration value="BSP"/>
            <xs:enumeration value="EPM"/>
            <xs:enumeration value="EPN"/>
            <xs:enumeration value="FDA"/>
            <xs:enumeration value="GIS"/>
            <xs:enumeration value="INC"/>
            <xs:enumeration value="JOD"/>
            <xs:enumeration value="KPS"/>
            <xs:enumeration value="LKB"/>
            <xs:enumeration value="MEP"/>
            <xs:enumeration value="MRS"/>
            <xs:enumeration value="NAM"/>
            <xs:enumeration value="PTR"/>
            <xs:enumeration value="ROL"/>
            <xs:enumeration value="ROS"/>
            <xs:enumeration value="SCP"/>
            <xs:enumeration value="STG"/>
            <xs:enumeration value="THB"/>
            <xs:enumeration value="TIS"/>
            <xs:enumeration value="TTD"/>
            <xs:enumeration value="UIS"/>
            <xs:enumeration value="MOS"/>
            <xs:enumeration value="ZET"/>
            <xs:enumeration value="ZIS"/>
            <xs:enumeration value="CHI"/>
            <xs:enumeration value="COP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="S2SCTChargesInformation1">
        <xs:sequence>
            <xs:element name="ChrgsAmt" type="S2SCTCurrencyAndAmount"/>
            <xs:element name="ChrgsPty" type="S2SCTBranchAndFinancialInstitutionIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ClearingChannel2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="RTNS"/>
            <xs:enumeration value="MPNS"/>
            <xs:enumeration value="BOOK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ClrSysId" type="CashClearingSystem3Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="ExternalClearingSystemMemberCode"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="S2SCTCreditorReferenceInformation1">
        <xs:sequence>
            <xs:element name="CdtrRefTp" minOccurs="0" type="S2SCTCreditorReferenceType1"/>
            <xs:element name="CdtrRef" minOccurs="0" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTCreditorReferenceType1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DocumentType3Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
            <xs:element name="Issr" minOccurs="0" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="S2SCTCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="S2SCTCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="S2SCTCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="S2SCTCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="S2SCTCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndPlaceOfBirth">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element name="PrvcOfBirth" minOccurs="0" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="pacs.002.001.02S2" type="pacs.002.001.02S2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DocumentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MSIN"/>
            <xs:enumeration value="CNFA"/>
            <xs:enumeration value="DNFA"/>
            <xs:enumeration value="CINV"/>
            <xs:enumeration value="CREN"/>
            <xs:enumeration value="DEBN"/>
            <xs:enumeration value="HIRI"/>
            <xs:enumeration value="SBIN"/>
            <xs:enumeration value="CMCN"/>
            <xs:enumeration value="SOAC"/>
            <xs:enumeration value="DISP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DocumentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RADM"/>
            <xs:enumeration value="RPIN"/>
            <xs:enumeration value="FXDR"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="PUOR"/>
            <xs:enumeration value="SCOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DunsIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EANGLNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{13,13}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EquivalentAmount">
        <xs:sequence>
            <xs:element name="Amt" type="S2SCTCurrencyAndAmount"/>
            <xs:element name="CcyOfTrf" type="S2SCTCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalClearingSystemMemberCode">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalLocalInstrumentCode">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification3">
        <xs:sequence>
            <xs:element name="BIC" minOccurs="0" type="BICIdentifier"/>
            <xs:element name="ClrSysMmbId" minOccurs="0" type="ClearingSystemMemberIdentification3Choice"/>
            <xs:element name="Nm" minOccurs="0" type="Max70Text"/>
            <xs:element name="PstlAdr" minOccurs="0" type="S2SCTPostalAddress1"/>
            <xs:element name="PrtryId" minOccurs="0" type="GenericIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier"/>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification3Choice"/>
                <xs:element name="NmAndAdr" type="NameAndAddress7"/>
                <xs:element name="PrtryId" type="GenericIdentification3"/>
                <xs:element name="CmbndId" type="FinancialInstitutionIdentification3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Frequency1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="INDA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" minOccurs="0" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTGenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTGroupHeader5">
        <xs:sequence>
            <xs:element name="MsgId" type="S2SCTId7"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InstgAgt" minOccurs="0" type="S2SCTBranchAndFinancialInstitutionIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[B-DF-HJ-NP-TV-XZ0-9]{7,7}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="S2SCTLocalInstrument1Choice">
        <xs:sequence>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTLocalInstrument2Choice">
        <xs:sequence>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTMandateRelatedInformation1">
        <xs:sequence>
            <xs:element name="MndtId" type="Max35Text"/>
            <xs:element name="DtOfSgntr" type="ISODate"/>
            <xs:element name="AmdmntInd" type="TrueFalseIndicator"/>
            <xs:element name="AmdmntInfDtls" minOccurs="0" type="S2SCTAmendmentInformationDetails1"/>
            <xs:element name="ElctrncSgntr" minOccurs="0" type="Max1025Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1025Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress7">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="PstlAdr" type="S2SCTPostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTNumberOfTransactionsPerStatus1">
        <xs:sequence>
            <xs:element name="DtldNbOfTxs" type="Max15NumericText"/>
            <xs:element name="DtldSts" type="S2SCTTransactionIndividualStatus1Code"/>
            <xs:element name="DtldCtrlSum" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification2">
        <xs:sequence>
            <xs:element name="BIC" minOccurs="0" type="BICIdentifier"/>
            <xs:element name="IBEI" minOccurs="0" type="IBEIIdentifier"/>
            <xs:element name="BEI" minOccurs="0" type="BEIIdentifier"/>
            <xs:element name="EANGLN" minOccurs="0" type="EANGLNIdentifier"/>
            <xs:element name="USCHU" minOccurs="0" type="CHIPSUniversalIdentifier"/>
            <xs:element name="DUNS" minOccurs="0" type="DunsIdentifier"/>
            <xs:element name="BkPtyId" minOccurs="0" type="Max35Text"/>
            <xs:element name="TaxIdNb" minOccurs="0" type="Max35Text"/>
            <xs:element name="PrtryId" minOccurs="0" type="GenericIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTOriginalGroupInformation1S2">
        <xs:sequence>
            <xs:element name="OrgnlMsgId" type="Max35Text"/>
            <xs:element name="OrgnlMsgNmId" type="Max35Text"/>
            <xs:element name="OrgnlNbOfTxs" type="Max15NumericText"/>
            <xs:element name="OrgnlCtrlSum" type="DecimalNumber"/>
            <xs:element name="GrpSts" type="S2SCTTransactionGroupStatus1Code"/>
            <xs:element name="StsRsnInf" type="S2SCTStatusReasonInformation1"/>
            <xs:element name="NbOfTxsPerSts" minOccurs="0" maxOccurs="2" type="S2SCTNumberOfTransactionsPerStatus1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTOriginalTransactionReference1">
        <xs:sequence>
            <xs:element name="IntrBkSttlmAmt" type="S2SCTCurrencyAndAmount"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element name="DbtrAgt" type="S2SCTBranchAndFinancialInstitutionIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTParty2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="OrgId" type="OrganisationIdentification2"/>
                <xs:element name="PrvtId" maxOccurs="4" type="PersonIdentification3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTPartyIdentification8">
        <xs:sequence>
            <xs:element name="Nm" minOccurs="0" type="Max70Text"/>
            <xs:element name="PstlAdr" minOccurs="0" type="S2SCTPostalAddress1"/>
            <xs:element name="Id" minOccurs="0" type="S2SCTParty2Choice"/>
            <xs:element name="CtryOfRes" minOccurs="0" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentCategoryPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CORT"/>
            <xs:enumeration value="SALA"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="DIVI"/>
            <xs:enumeration value="GOVT"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="PENS"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SSBE"/>
            <xs:enumeration value="SUPP"/>
            <xs:enumeration value="TAXS"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="VATX"/>
            <xs:enumeration value="HEDG"/>
            <xs:enumeration value="INTC"/>
            <xs:enumeration value="WHLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PaymentMethod4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHK"/>
            <xs:enumeration value="TRF"/>
            <xs:enumeration value="DD"/>
            <xs:enumeration value="TRA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="S2SCTPaymentTransactionInformation1">
        <xs:sequence>
            <xs:element name="StsId" type="S2SCTId7"/>
            <xs:element name="OrgnlInstrId" minOccurs="0" type="S2SCTId7"/>
            <xs:element name="OrgnlEndToEndId" type="Max35Text"/>
            <xs:element name="OrgnlTxId" type="S2SCTId7"/>
            <xs:element name="TxSts" type="S2SCTTransactionIndividualStatus1Code"/>
            <xs:element name="StsRsnInf" type="S2SCTStatusReasonInformation2"/>
            <xs:element name="InstdAgt" minOccurs="0" type="S2SCTBranchAndFinancialInstitutionIdentification3"/>
            <xs:element name="OrgnlTxRef" minOccurs="0" type="S2SCTOriginalTransactionReference1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTPaymentTypeInformation6">
        <xs:sequence>
            <xs:element name="SvcLvl" type="S2SCTServiceLevel2Choice"/>
            <xs:element name="LclInstrm" type="S2SCTLocalInstrument1Choice"/>
            <xs:element name="SeqTp" type="S2SCTSequenceType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification3">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DrvrsLicNb" type="Max35Text"/>
                <xs:element name="CstmrNb" type="Max35Text"/>
                <xs:element name="SclSctyNb" type="Max35Text"/>
                <xs:element name="AlnRegnNb" type="Max35Text"/>
                <xs:element name="PsptNb" type="Max35Text"/>
                <xs:element name="TaxIdNb" type="Max35Text"/>
                <xs:element name="IdntyCardNb" type="Max35Text"/>
                <xs:element name="MplyrIdNb" type="Max35Text"/>
                <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
                <xs:element name="OthrId" type="S2SCTGenericIdentification4"/>
            </xs:choice>
            <xs:element name="Issr" minOccurs="0" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTPostalAddress1">
        <xs:sequence>
            <xs:element name="AdrLine" minOccurs="0" maxOccurs="2" type="Max70Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element name="AdrTp" minOccurs="0" type="AddressType2Code"/>
            <xs:element name="AdrLine" minOccurs="0" maxOccurs="5" type="Max70Text"/>
            <xs:element name="StrtNm" minOccurs="0" type="Max70Text"/>
            <xs:element name="BldgNb" minOccurs="0" type="Max16Text"/>
            <xs:element name="PstCd" minOccurs="0" type="Max16Text"/>
            <xs:element name="TwnNm" minOccurs="0" type="Max35Text"/>
            <xs:element name="CtrySubDvsn" minOccurs="0" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="S2SCTReferredDocumentAmount1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DuePyblAmt" type="S2SCTCurrencyAndAmount"/>
                <xs:element name="DscntApldAmt" type="S2SCTCurrencyAndAmount"/>
                <xs:element name="RmtdAmt" type="S2SCTCurrencyAndAmount"/>
                <xs:element name="CdtNoteAmt" type="S2SCTCurrencyAndAmount"/>
                <xs:element name="TaxAmt" type="S2SCTCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTReferredDocumentInformation1">
        <xs:sequence>
            <xs:element name="RfrdDocTp" minOccurs="0" type="S2SCTReferredDocumentType1"/>
            <xs:element name="RfrdDocNb" minOccurs="0" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTReferredDocumentType1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DocumentType2Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
            <xs:element name="Issr" minOccurs="0" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTRemittanceInformation1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ustrd" minOccurs="0" type="Max140Text"/>
                <xs:element name="Strd" minOccurs="0" type="S2SCTStructuredRemittanceInformation6"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="S2SCTSequenceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRST"/>
            <xs:enumeration value="RCUR"/>
            <xs:enumeration value="FNAL"/>
            <xs:enumeration value="OOFF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="S2SCTServiceLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SEPA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="S2SCTServiceLevel2Choice">
        <xs:sequence>
            <xs:element name="Cd" type="S2SCTServiceLevel1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTSettlementInformation3">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="S2SCTSettlementMethod1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="S2SCTSettlementMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation2">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTStatusReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="S2SCTTransactionRejectReason4Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTStatusReason2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="S2SCTTransactionRejectReason3Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTStatusReasonInformation1">
        <xs:sequence>
            <xs:element name="StsOrgtr" type="S2SCTId5"/>
            <xs:element name="StsRsn" type="S2SCTStatusReason1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTStatusReasonInformation2">
        <xs:sequence>
            <xs:element name="StsOrgtr" type="S2SCTId5"/>
            <xs:element name="StsRsn" type="S2SCTStatusReason2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTStructuredRemittanceInformation6">
        <xs:sequence>
            <xs:element name="RfrdDocInf" minOccurs="0" type="S2SCTReferredDocumentInformation1"/>
            <xs:element name="RfrdDocRltdDt" minOccurs="0" type="ISODate"/>
            <xs:element name="RfrdDocAmt" minOccurs="0" type="S2SCTReferredDocumentAmount1Choice"/>
            <xs:element name="CdtrRefInf" minOccurs="0" type="S2SCTCreditorReferenceInformation1"/>
            <xs:element name="Invcr" minOccurs="0" type="S2SCTPartyIdentification8"/>
            <xs:element name="Invcee" minOccurs="0" type="S2SCTPartyIdentification8"/>
            <xs:element name="AddtlRmtInf" minOccurs="0" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="S2SCTTransactionGroupStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACSP"/>
            <xs:enumeration value="ACSC"/>
            <xs:enumeration value="ACCR"/>
            <xs:enumeration value="ACWC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="S2SCTTransactionIndividualStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACSP"/>
            <xs:enumeration value="ACSC"/>
            <xs:enumeration value="ACCR"/>
            <xs:enumeration value="ACWC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="S2SCTTransactionRejectReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AC01"/>
            <xs:enumeration value="AC04"/>
            <xs:enumeration value="AC06"/>
            <xs:enumeration value="AM01"/>
            <xs:enumeration value="AM02"/>
            <xs:enumeration value="AM03"/>
            <xs:enumeration value="AM04"/>
            <xs:enumeration value="AM05"/>
            <xs:enumeration value="AM06"/>
            <xs:enumeration value="AM07"/>
            <xs:enumeration value="BE01"/>
            <xs:enumeration value="BE04"/>
            <xs:enumeration value="BE05"/>
            <xs:enumeration value="AG01"/>
            <xs:enumeration value="AG02"/>
            <xs:enumeration value="DT01"/>
            <xs:enumeration value="RF01"/>
            <xs:enumeration value="RC01"/>
            <xs:enumeration value="TM01"/>
            <xs:enumeration value="ED01"/>
            <xs:enumeration value="ED03"/>
            <xs:enumeration value="MS03"/>
            <xs:enumeration value="MS02"/>
            <xs:enumeration value="BE06"/>
            <xs:enumeration value="BE07"/>
            <xs:enumeration value="AM09"/>
            <xs:enumeration value="AM10"/>
            <xs:enumeration value="MD01"/>
            <xs:enumeration value="MD02"/>
            <xs:enumeration value="MD03"/>
            <xs:enumeration value="MD04"/>
            <xs:enumeration value="MD06"/>
            <xs:enumeration value="MD07"/>
            <xs:enumeration value="ED05"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="S2SCTTransactionRejectReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AM01"/>
            <xs:enumeration value="AM02"/>
            <xs:enumeration value="AM05"/>
            <xs:enumeration value="DT01"/>
            <xs:enumeration value="ED05"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="S2SCTTransactionRejectReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ED05"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="pacs.002.001.02S2">
        <xs:sequence>
            <xs:element name="GrpHdr" type="S2SCTGroupHeader5"/>
            <xs:element name="OrgnlGrpInfAndSts" type="S2SCTOriginalGroupInformation1S2"/>
            <xs:element name="TxInfAndSts" minOccurs="0" maxOccurs="unbounded" type="S2SCTPaymentTransactionInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="S2SCTId4">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SMNDA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="S2SCTCdtrSchmeId">
        <xs:sequence>
            <xs:element name="OtherId" type="S2SCTGenericIdentification4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTId1">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTId2">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="PstlAdr" minOccurs="0" type="S2SCTPostalAddress1"/>
            <xs:element name="CtryOfRes" minOccurs="0" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTFinancialInstitutionIdentification5Choice">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTId5">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Nm" type="Max70Text"/>
                <xs:element name="Id" type="S2SCTParty3Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTParty3Choice">
        <xs:sequence>
            <xs:element name="OrgId" type="S2SCTOrganisationIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="S2SCTOrganisationIdentification2">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="S2SCTId7">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;]){1,35}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
